/*please have all your inserts in the following format. custom.css for general page and main css changes*/


/* CSS to render smaller social media icons
Developer: John */
.social-icons-sm .social-icon-sm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1rem;
    margin-right: 1rem;
  }
  .social-icons-sm .social-icon-sm:last-child {
    margin-right: 0;
  }
  .social-icons-sm .social-icon-sm:hover {
    background-color: #bd5d38;
  }
  /* FIN */