.icon-text {
	position: relative;
	/* top: 20px; */
	background-color: #deae9c;
	color: #bd5d38;
	border: none;
	
	/* padding: 15px; */
	border-radius: 10px;
	width: 150px;
	/* height: 70px; */
	text-align: center;
	font-size: 20px;
	margin: auto;
	transition: 0.3s;
}

.icon-text:hover {
	background-color: #bd5d38;
	color: #FFF;
}