.carousel {
  width: 33.3vw;
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  margin: 0 auto;
}

.carousel_img {
  width: 33.3vw;
  height: 100vh;
  object-fit:cover;
}

.carousel__track-container {
  background: lightgreen;
  padding: 10px;
  left:0;
}

.carousel__track {
  padding: 0;
  margin: 0;
  left:0;
  list-style: none;
  position:relative;
  height: 100vh;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position:absolute;
  top: 0;
  bottom: 0;
  width: 33.3vw;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border:0;
  cursor: pointer;
}

.carousel__button--left {
  left: 40px;
}

.carousel__button--right {
  right: 40px;
}

.carousel__button img {
  width : 10px;
}